.ant-table-thead > tr > th {
    color: #fff !important;
    font-weight: 500;
    text-align: left;
    background-color: rgba(57, 100, 230, 0.1) !important;
    border-bottom: 1px solid rgba(57, 100, 230, 0.1) !important;
}

.ant-table-tbody > tr > td {
    color: #fff !important;
}